.cardProducto {
    background-color: #056fc5bc;
    border-radius: 50px 10px;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.imgProducto {
    width: 150px;
    object-fit: contain;
}

.btnProducto {
    background-color: #00000060;
    color: white;
    font-size: 1.2rem;
    width: 12rem;
    border-radius: 10px 10px 0px 0px;
    border: none;
    cursor: pointer;
}